//This file is very much concerned with the display of items. Whats dya make of that'

.cogsCollection{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  .cogsCard{
    img{
      border: 0;
      max-width: 100%;
      width: 100%;
    }
  }
}
